@import "tailwindcss";

:root {
  --color-inkwell: #000000;
  --color-paper-white: #ffffff;
  --color-parchment: #faf8f5;
  --color-graphite: #27251e;
  --color-faded-stone: #92918b;
  --color-dusk-gray: #72706b;
  font-family: "Inter Variable", sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: var(--color-paper-white);
  color: var(--color-inkwell);
}
